// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: rgb(26, 43, 73);
$yellow: #ffc65a;
$orange: #ff5533;
$green: #1edd88;
$gray: #0e0000;
$black: #000;
$light-gray: #f4f4f4;
$white: #fff;

$nav-link-color: rgb(26, 43, 73);
$logIn-btn-color: #0058b8;
$whyUs-text-color: rgb(109, 118, 136);

// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581dc;
$trip-advsior: #00af87;
$instagram: #c13584;
$footer-bg-color: rgb(26, 43, 73);
$footer-border-bottom: #373636;
