// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap");

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Avenir";
  src: font-url("Avenir/AvenirMedium.eot");
  src: font-url("Avenir/AvenirMedium.eot?#iefix") format("embedded-opentype"),
    font-url("Avenir/AvenirMedium.woff") format("woff"),
    font-url("Avenir/AvenirMedium.ttf") format("truetype");
}

$my-font: "Avenir";

// Define fonts for body and headers
$body-font: $my-font;
$headers-font: $my-font;
