<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Centre Email Example 2</title>
    
  </head>
  <body style="margin:0;background-color:#cccccc;">
    <center class="wrapper" style="width:100%;table-layout:fixed;background-color:#ccc;padding-bottom:40px;">
      <table class="main" width="100%" style="background-color:#fff;margin:0 auto;width:100%;max-width:600px;border-spacing:0;font-family:sans-serif;color:#4e4e4e;">
        <!--Social Media Icons-->
        <tr>
          <td style="padding:0;">
            <table width="100%" style="border-spacing:0;">
              <tr>
                <td style="padding:0;
                    background-color: #d40119;
                    padding: 8px 0;
                    text-align: center;
                  ;">
                  <a href="#" style="text-decoration:none;"><img width="30px" src="https://i.ibb.co/5YGSVbw/white-facebook.png" alt="facebook social icon" s style="border:0;"></a>
                  <a href="#" style="text-decoration:none;"><img width="30px" src="https://i.ibb.co/CMWpcS2/white-instagram.png" alt="instagram social icon" style="border:0;"></a>
                  <a href="#" style="text-decoration:none;"><img width="30px" src="https://i.ibb.co/gdb68BH/white-linkedin.png" alt="linkedin social icon" style="border:0;"></a>
                  <a href="#" style="text-decoration:none;"><img width="30px" src="https://i.ibb.co/qmSNYsj/white-twitter.png" alt="twitter social icon" style="border:0;"></a>
                  <a href="#" style="text-decoration:none;"><img width="30px" src="https://i.ibb.co/2gGYc3C/white-youtube.png" alt="youtube social icon" style="border:0;"></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!--Social Media Icons-->
        <!--LOGO-->
        <tr>
          <td style="padding:0;">
            <table width="100%" style="border-spacing:0;">
              <tr>
                <td style="padding:0;text-align: center;">
                  <a href="https://www.flightcentre.com.au/" style="text-decoration:none;text-decoration: none; font-size: 18px;">
                    <p style="color: #d40119; font-size: 32px; font-weight: 800">
                      Bergin Tours
                    </p>
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!--LOGO-->
        <!--BANNER-->
        <tr>
          <td style="padding:0;">
            <a href="https://ibb.co/0QGP6Tv" style="text-decoration:none;"><img width="750px" style="border:0;max-width: 100%;" src="https://i.ibb.co/BwC8QbF/luxury-travel-romantic-beach-getaway-holidays-for-honeymoon-couple-tropical-vacation-in-luxurious-ho.jpg" alt="luxury-travel-romantic-beach-getaway-holidays-for-honeymoon-couple"></a>
          </td>
        </tr>
        <!--BANNER-->
        <!--TEXT CONTENT-->
        <tr>
          <td style="padding:0;padding-bottom: 40px;">
            <table width="100%" style="border-spacing:0;">
              <tr>
                <td style="padding:0;text-align: center; padding: 15px;">
                  <p style="font-size: 20px; font-weight: bold">
                    Hi <strong style="color: #d40119"><%= @user.email %></strong>
                  </p>
                  <p style="font-size: 15px; padding: 10px 0 15px">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Tenetur omnis excepturi quo. Explicabo minus voluptates
                    doloremque veritatis delectus nobis! Animi unde doloremque
                    nostrum perferendis, hic enim consectetur minima deserunt
                    praesentium.
                  </p>
                  <a target="_blank" style="background-color:#d40119;color:#fff;text-decoration:none;padding:8px 12px;border-radius:4px;font-weight:bold">
                  <%= link_to "Find Out More", root_url,  class: "button" %></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!--TEXT CONTENT-->
        <!--Red Border-->
        <tr>
          <td height="5" style="padding:0;background-color: #d40119;"></td>
        </tr>
        <!--Red Border-->
        <!--Red Border-->
        <tr>
          <td height="5" style="padding:0;background-color: #d40119;"></td>
        </tr>
        <!--Red Border-->
      </table>
    </center>
  </body>
</html>
