<div class="container">
  <div class="text-center">
    <h1><%= @article.title %></h1>
  </div>
  <div>
    <%= @article.content.html_safe %>
  </div>
</div>

<div class="text-center">
  <%= link_to "Back to Main Page", tours_path, class: "btn btn-success" %>
</div>
<div class="container">
