          <div class="col-md-5">
            <h3 class="font-weight-bold mb-4">About this tour</h3>
            <div class="d-flex icon-line-height mb-4">
              <div class="mr-2"><i class="h3 far fa-credit-card"></i></div>
              <div class="ml-2"><p>Free Cancellation</p><span class="text-muted">Cancel anytime for a full refund</span></div>
            </div>
            <div class="d-flex icon-line-height mb-4">
              <div class="mr-2"><i class="h3 fas fa-virus"></i></div>
              <div class="ml-2"><p>COVID-19 Precautions</p><span class="text-muted">Special healt and safety measures apply.</span></div>
            </div>
            <div class="d-flex icon-line-height mb-4">
              <div class="mr-2"><i class="h3 fas fa-skiing"></i></div>
              <div class="ml-2"><p>Skip the line</p><span class="text-muted">Skip the line through separate entrance.</span></div>
            </div>
            <div class="d-flex icon-line-height-alternative mb-4">
              <div class="mr-2"><i class="h3 fas fa-headphones"></i></div>
              <div class="d-block ml-2"><p>Audio Guide | Headphones</p><span class="text-muted">Spanish, Dutch, English, French, German, Italian, Japanese, Russian, Turkish, Chinese, Croatian, Czech, Hindi, Indonesian, Arabic, Korean, Polish, Portuguese, Swedish, Thai.</span></div>
            </div>
            <div class="d-flex icon-line-height-alternative mb-4">
              <div class="mr-2"><i class="h3 fas fa-bolt"></i></div>
              <div class="ml-2"><p>Instant confirmation</p><span class="text-muted">You will recieve an email after your booking and our experienced travel agent will contact with you.</span></div>
            </div>
            <div class="d-flex icon-line-height mb-4">
              <div class="mr-2"><i class="h3 fas fa-shuttle-van"></i></div>
              <div class="ml-2"><p>Pickup offered</p><span class="text-muted">Will pick you up from your accommodation.</span></div>
            </div>
          </div>