<div class="accordion" id="myAccordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button type="button" class="btn-display btn btn-link" data-toggle="collapse" data-target="#collapseOne">History</button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
      <div class="card-body">
        <%= @tour.history.html_safe %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">Price</button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
      <div class="card-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, qui necessitatibus. Ipsa eum aut facere quidem, assumenda minus? At accusantium dignissimos beatae inventore iure autem perspiciatis facere tenetur expedita dolorum.</a></p>
      </div>
    </div>
  </div>
</div>
