<section class="large lg-img-container">
  <article class="container__item">
    <img src="https://images.unsplash.com/photo-1589366025085-d060e3f956e6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Fearless leader" width="800" height="534" />
  </article>
  <article class="container__item">
    <img src="https://images.unsplash.com/photo-1560322527-80ee440caec4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Southbank - Strike a Pose" width="800" height="534" />
  </article>
  <article class="container__item">
    <img src="https://images.unsplash.com/photo-1556994526-7408107943e0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="Tower Bridge, light trails" width="800" height="534" />
  </article>
  <article class="container__item">
    <img src="https://images.unsplash.com/photo-1598905313780-1863bc12d11d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="The Clyde Arc" width="800" height="534" />
  </article>
  <article class="container__item">
    <img src="https://images.unsplash.com/photo-1516275860772-794f83076e30?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Tower Bridge, light trails" width="800" height="534" />
  </article>
</section>
