<div class="row  mt-4">
  <div class="col-lg-4 text-center">
    <i class="far fa-thumbs-up mb-2"></i>
    <h5>Free cancellation</h5>
    <p>Cancel up to 24 hours before your activity starts for a full refund.</p>
  </div>
  <div class="col-lg-4 text-center">
    <i class="fas fa-meteor mb-2"></i>
    <h5>Faster access</h5>
    <p>Skip the long ticket lines and get straight to the good stuff in the places.</p>
  </div>
  <div class="col-lg-4 text-center">
    <i class="far fa-heart mb-2"></i>
    <h5>Friendly help</h5>
    <p>We're standing by 24/7 to make your experience incredible.</p>
  </div>
</div>
