<nav>
  <ul class="d-flex">
    <li class="pr-5"><%= link_to "Dashboard", dashboard_path %></li>
    <li class="pr-5"><%= link_to "Log In" %></li>
    <li class="pr-5"><%= link_to "Blog", blog_path %></li>
  </ul>
</nav>
