<div class="container trusted-by">
  <div class="row trusted-icons">
    <div><h1 class="trusted-text mt-3">Trusted By:</h1></div>
    <div><i class="fab fa-cc-paypal"></i></div>
    <div><i class="fab fa-tripadvisor"></i></div>
    <div><i class="fab fa-cc-stripe"></i></div>
    <div><i class="fab fa-google-pay"></i></div>
  </div>
</div>
