<main>
  <div class="container">
    <h1 class="text-center mt-4 mb-4"><span class="span-logo span-logo-container">About Bergin Tours</span></h1>
    <p>Bergin Tours headquarters are located in Ozdere, Izmir with branches in Kusadasi, 
    Istanbul and Cappodocia. Founded in 1989, an A Group licenced Travel Agency (A-2479) 
    and member of TURSAB( Association of TurkishTravel Agencies) since 1993.</p>
    <p>Our goal is to give you the best service during your time travelling and holidaying in Turkey. 
    Our services cater to all budgets. Our expert tour guides, certified by the Turkish Ministry 
    of Tourism, speak in several languages ensuring our tours are accessible to you and in your language. </p>
    <p>We offer many services including; incoming and outgoing services, package tours and holiday, 
    daily tours, hotel and villa reservations, transfers and rent a car, airlines tickets, round trips, 
    private tours, SPA, M.I.C.E, religious tours, sport tourism and numerous travel services and 
    facilities in Turkey.</p>
    <p>We are always grateful to welcome you to Turkey, with the best possible service. 
    Please contact us via email or phone for more information.</p>
    <p>Best Regards <br> Bergin Tours</p>
  </div>
</main>
