<main>
  <div class="container">
    <h1 class="text-center mt-4 mb-4"><span class="span-logo span-logo-container">About Bergin Tours</span></h1>
    <p>Bergin Tours located in Ozdere, Izmir and we have brach offices in Kusadasi, 
    Istanbul and Cappodocia. We have founded in 1989 and became an A Grouplicenced Travel Agency (A-2479) 
    and member of TURSAB( Association of TurkishTravel Agencies) since 1993.</p>
    <p>Our goal is to give you a best services during your travel and holiday in Turkey. 
    We provide you services as an avaible for all budget. We provide also tour guides for your own 
    language who has certificated by the Turkish Ministry of Tourism.</p>
    <p>We offer our services such as; incoming and outgoing services, package tours and holiday, 
    daily tours, hotel and villa reservations, transfers and rent a car, airlines tickets, round trips, 
    private tours, SPA, M.I.C.E, religious tours, sport tourism and all kind of travel services and facilities 
    in Turkey.</p>
    <p>We are always greatful to welcome you and provide the best servives in Turkey. Please contact with us via
    email or phone for more information.</p>
    <p>Best Regards <br> Bergin Tours</p>
  </div>
</main>
