<main class="container">
  <h1 class="text-center mb-5 mt-5">Cancelation and Refund</h1>
  <p>Cancellations must be made in writing and signed by the tour participant in the event that a tour 
  participant cancels his or her reservation, the following fees will apply. Cancellation fees are 
  agreed to be liquidated damages and are not considered a penalty. Cancellation received in writing by 
  Bergin Tours more than 45 days prior to departure are subject to an administrative fee of 25% of tour 
  rate per person. If your request is received within 45 days, the following fees will apply.</p>
  <div>
    <p><strong>Cancellation Process For Package Tours</strong></p>
    <ul>
      <li>Days before date of departure % off Entire Tour Cost</li>
      <li>Between 31 and 45 days 35%</li>
      <li>Between 15 and 30 days 50%</li>
      <li>Between 7 and 14 days 80%</li>
      <li>Between arrival and 6 days no show</li>
    </ul>
  </div>

  <div>
    <h3>Cancellation Process For Shore Excursions & Day Tours</h3>
    <p>Shore excursions and Day tours ( without flights) can becancelled untill 48 
    hours before of arrival without any extra charges.(except hot air balloon ride and airplane tickets.) 
    If the tours cancelled less than 48 hours of arrival % 100 of total tour cost will apply as "No Show".
    </p>
    <p><strong>Important :</strong> If the booking made through one of our local office Turkey that 
    "local rules & conditions" apply as per the region purchased.</p>
  </div>
</main>
