<main class="container">
  <h1 class="text-center mb-4 mt-5">Frequently Asked Questions</h1>
  <div class="accordion" id="myAccordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">1. What are services and how can I book services?</button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
        <div class="card-body">
          <p>Services include Transfers, Sightseeing Tours, Excursions, 
          Package Tours, Shore Excursions, Cruises, One Day Trips. You can easily book these services 
          online, through our website. You receive a guaranteed pre-booked service and a voucher with 
          all the booking details and contact information for the local activity provider after completing 
          the payment. You should follow instructions on the voucher and issue this voucher to the local 
          activity provider.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo">2. Is there another way to book than online? Can I book over the telephone?</button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#myAccordion">
        <div class="card-body">
          <p>Services include Transfers, Sightseeing Tours, Excursions, Package Tours, Shore Excursions, 
          Cruises, One Day Trips. You can easily book these services online, through our website. 
          Although Bergin Tours is a complete and secure online booking service we offer customer 
          service on the phone or via e-mail to support your booking questions.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">3. Can I book this when I get there?</button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
        <div class="card-body">
          <p>Bergin Tours products can only be booked online or over the phone. 
            It is recommended you pre book your travel services to avoid disappointment 
            as many of the tours and products are popular, and can be sold out early. 
            If you wish to wait and book at the destination, you can do this, but we would like 
            to remind you that last minute bookings (last 3 days before the departure date of the services) 
            can not be done online.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour">4. How far in advance can I book?</button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#myAccordion">
        <div class="card-body">
          <p>Over 98% of travel products available through Bergin Tours have pricing tables 
          on the service details pages, which indicate how far in advance a travel product can be booked 
          at that time. If the date you want is outside this range, please contact us or check back later 
          as product updates occur every day. Some product is only updated once a year when new season 
          prices are determined by each travel product provider. If you cannot find the information you 
          require on the service details pages, please contact the Bergin Tours Team via email.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive">5. Can I book more than one tour at a destination? Are there discounts for booking more than one tour?</button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#myAccordion">
        <div class="card-body">
          <p>You may book any number of tours available in any destination, depending upon your 
          available time. If you are booking more than one tour in the same city, please allow 
          sufficient time in between tours, to allow for traveling between departure points. Each 
          tour must be booked separately, as each individual tour requires a separate confirmation 
          and voucher. You can add as many products as you wish to basket and then make one credit 
          card transaction for all of them. As our products are sold with minimum mark ups, we cannot 
          offer any discounts for multiple bookings as each booking is made separately with different 
          local travel provider.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingSix">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix">6. What are the cancellation rules for these bookings?</button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#myAccordion">
        <div class="card-body">
          <p>All services have different rules, please read the conditions section for the 
          cancellation policy for each booking.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingSeven">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven">7. What happens if i cancel or do not show up?</button>
        </h2>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#myAccordion">
        <div class="card-body">
          <p>Please select your travel service carefully before booking, as many travel services 
          might carry heavy cancellation penalties. Please make sure you read the Cancellation and 
          Change Policy on the service details page where applicable. If you are unable to show up 
          for the tour, please contact Bergin Tours Team who will advise the travel service 
          provider on your behalf. You may be able to claim reimbursement through your travel insurance 
          depending upon your circumstances. You should contact your travel insurance company for further 
          details.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingEight">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight">8. Can I change/amend my booking?</button>
        </h2>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#myAccordion">
        <div class="card-body">
          <p>It may be possible to amend your booking, however this depends upon the type of amendment 
          required and is at the discretion of the travel service provider. Send Amendment Request to 
          Bergin Tours with your current service booking number and specific details of your 
          amendment, and we will be able to advise if the change/amendment is possible. 
          Please select your tour carefully, as not all travel service providers will accept 
          changes/amendments once you have received confirmation of your booking. As per the Cancellation 
          and Change Policy some sales attract cancellation penalties.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingNine">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine">9. I need to make a correction to the names, titles in the booking and get a new voucher.</button>
        </h2>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#myAccordion">
        <div class="card-body">
          <p>Unless the correction is of a different lead traveler in a booking, there is no need to 
          reissue vouchers for other corrections. If you have misspelt a name, not entered a title 
          correctly you can send the Bergin Tours Team an Amendment Request.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTen">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen">10. I need to change the passenger names in my booking, what do I do?</button>
        </h2>
      </div>
      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#myAccordion">
        <div class="card-body">
          <p>Please send Amendment Request Bergin Tours Team with your current service booking number 
          and new details of your amendment.</p>
        </div>
      </div>
    </div>

        <div class="card">
      <div class="card-header" id="headingTen">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen">10. I need to change the passenger names in my booking, what do I do?</button>
        </h2>
      </div>
      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#myAccordion">
        <div class="card-body">
          <p>Please send Amendment Request Bergin Tours Team with your current service booking number 
          and new details of your amendment.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingEleven">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven">11. I would like to change the date of my tour/ticket, what do I do?</button>
        </h2>
      </div>
      <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#myAccordion">
        <div class="card-body">
          <p>It may be possible to amend your booking, however this depends upon the type of amendment 
          required and is at the discretion of the travel service provider. Send Amendment Request to 
          Bergin Tours Team with your current service booking number and specific details of 
          your amendment, and we will be able to advise if the change/amendment is possible.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwelve">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve">12. I need to cancel my booking</button>
        </h2>
      </div>
      <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#myAccordion">
        <div class="card-body">
          <p>Not all travel products can be canceled at no cost. Please read through the 
          Cancellation and Change Policy located at the reservation details page (Conditions), 
          regarding cancellation fees. If you decide to proceed with the cancellation request, please 
          contact Bergin Tours Team with your current booking number and specific details of your 
          request, and we will be able to advise of any cancellation charges.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThirteen">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen">13. I need a refund of my booking</button>
        </h2>
      </div>
      <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#myAccordion">
        <div class="card-body">
          <p>Not all travel products can be refunded at no cost. Prior to travel date, 
          please read through the Cancellation and Change Policy regarding cancellation fees. 
          If your request is after the travel date, please contact Bergin Tours Team with 
          your booking number and specific details of your refund request.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFourteen">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourteen">14. What hotels does this tour pick up from?</button>
        </h2>
      </div>
      <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#myAccordion">
        <div class="card-body">
          <p>Hotel pick up points are either listed on the service details page, 
          advised at confirmation time or youll be advised (on your printable travel voucher) 
          to call the travel providers local telephone number 24 hours prior to confirm your hotel 
          pick up details.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFifteen">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifteen">15. I am not staying in a hotel, what is the closest pick up point? Do you pick up from private residences?</button>
        </h2>
      </div>
      <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#myAccordion">
        <div class="card-body">
          <p>Most tour operators do not pick up from private residences. You need to provide the 
          nearest major hotel to where you staying, and enter these details as the pick up in 
          the booking request. Alternatively you can make a way to the main departure point listed 
          on the service details page under the heading Location.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingSixteen">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixteen">16. What time does my tour depart?</button>
        </h2>
      </div>
      <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#myAccordion">
        <div class="card-body">
          <p>Your tour departure information can be found on the service voucher under the heading Important 
          Information (Notes), or in the confirmation details. If there is no time listed, you will be 
          required to call the travel service provider at least 24 hours prior to the departure date to 
          reconfirm tour meeting point and departure time. This contact information is also found on 
          the voucher under the heading Important Information.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingSevenTeen">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSevenTeen">17. Where is the meeting point for my clients tour?</button>
        </h2>
      </div>
      <div id="collapseSevenTeen" class="collapse" aria-labelledby="headingSevenTeen" data-parent="#myAccordion">
        <div class="card-body">
          <p>The meeting point for the beginning of every travel service can be found on the service 
          details page, under the heading Location. Extra information may also be contained under the 
          heading Additional Info on this same page. If you need directions to this point, please contact 
          the travel service provider 24-48 hours prior to your confirmed departure date on the numbers 
          listed at the bottom of the service voucher.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingEighTeen">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEighTeen">18. Does this tour pick up from the airport?</button>
        </h2>
      </div>
      <div id="collapseEighTeen" class="collapse" aria-labelledby="headingEighTeen" data-parent="#myAccordion">
        <div class="card-body">
          <p>Most day tours and sightseeing tours do not offer airport pick ups. 
          Most city airports are located well away from the city centre and tour operators 
          cannot offer a pick up service from these areas. If a tour does offer airport pick ups, 
          this information will be listed on the service details page. If there is no information listed, 
          the tour does not pick up from the airport. You will need to nominate a pick up hotel you can 
          get to, or alternatively, you will need to make a way to the main departure point listed on the 
          activity details page.</p>
        </div>
      </div>
    </div>

        <div class="card">
      <div class="card-header" id="headingNineTeen">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNineTeen">19. Can I get dropped off after my tour to my hotel or in the city?</button>
        </h2>
      </div>
      <div id="collapseNineTeen" class="collapse" aria-labelledby="headingNineTeen" data-parent="#myAccordion">
        <div class="card-body">
          <p>This depends on the travel service provider and will need to be asked directly to your 
          guide on the day of the tour. Most travel service providers can drop you to a major hotel 
          or city location, depending on their schedule on the day. You will need to check directly 
          with them at the destination, prior to or on the day of travel.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwenty">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwenty">20. What days does this tour operate? Are there different times of departure for this tour?</button>
        </h2>
      </div>
      <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#myAccordion">
        <div class="card-body">
          <p>The days of operation of every travel service can be found on each service details page. 
          Also the calender is a guide showing the available days. Available days are clickable and 
          the others are closed. The times of departure or operation are also found on these pages.
          The times of departure or operation are found on the service details pages. 
          Please note that departure times are subject to change and reconfirmation for any booked 
          travel is required prior to departure.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwentyOne">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyOne">21. Does this operate on Christmas and Public Holidays?</button>
        </h2>
      </div>
      <div id="collapseTwentyOne" class="collapse" aria-labelledby="headingTwentyOne" data-parent="#myAccordion">
        <div class="card-body">
          <p>This information can be found on the service details pages. Please note that Public 
          Holidays vary throughout many destinations where we offer travel services. Some travel 
          service providers may decide at short notice not to operate on certain Public Holidays. 
          This will be advised at booking if applicable.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwentyTwo">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyTwo">22. I do not know what date I am traveling yet, can I book a product and leave it open dated?</button>
        </h2>
      </div>
      <div id="collapseTwentyTwo" class="collapse" aria-labelledby="headingTwentyTwo" data-parent="#myAccordion">
        <div class="card-body">
          <p>The majority of travel services provided must have a pre booked date designated in order 
          for the travel supplier to cater for passengers. Exceptions to this are attraction passes, 
          hop on/hop off buses and certain trolley tours.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwentyThree">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyThree">23. What languages are available for this tour?</button>
        </h2>
      </div>
      <div id="collapseTwentyThree" class="collapse" aria-labelledby="headingTwentyThree" data-parent="#myAccordion">
        <div class="card-body">
          <p>The majority of the tours and services provided are available in English only. 
          If another language is available, this will be mentioned in the Additional Info (Notes) 
          section on the service details page.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwentyFour">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyFour">24. I keep getting a credit card error whilst trying to book, what do I do?</button>
        </h2>
      </div>
      <div id="collapseTwentyFour" class="collapse" aria-labelledby="headingTwentyFour" data-parent="#myAccordion">
        <div class="card-body">
          <p>Bergin Tours booking process is completely automated and all credit card transactions are secure.</p>
          <ul>Possible problems:
            <li>Credit card details are not correct.</li>
            <li>Insufficient funds to cover the transaction being booked are not enough.</li>
            <li>Credit card is closed to overseas transactions or internet shopping.</li>
          </ul>
          <p>Please check the entered details on the booking form and try again. If still unsuccessful, 
          please contact your bank and/or to Bergin Tours team.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwentyFive">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyFive">25. I will not arrive in time to confirm 24 hours in advance, what do I do?</button>
        </h2>
      </div>
      <div id="collapseTwentyFive" class="collapse" aria-labelledby="headingTwentyFive" data-parent="#myAccordion">
        <div class="card-body">
          <p>Reconfirming 24 hours in advance is mandatory with some travel products, 
          and recommended for others. Please refer to the instructions on the service voucher for details. 
          If you will not be arriving at the destination in time to reconfirm within 24 hours, please 
          reconfirm with the tour operator prior to this time as departure times and locations may vary 
          slightly. It is highly recommended you receive this up to date confirmation directly from the 
          tour operator prior to departure. All relevant details and contact numbers can be found at the 
          bottom of the service voucher.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwentySix">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentySix">26. What do I do with the voucher? Where do I exchange the voucher?</button>
        </h2>
      </div>
      <div id="collapseTwentySix" class="collapse" aria-labelledby="headingTwentySix" data-parent="#myAccordion">
        <div class="card-body">
          <p>When you have completed your booking, it is essential that you print the travel 
          voucher and include it with all of other documentation. This voucher is unique to the 
          booking and is the proof of purchase. It must be presented together with valid photo ID 
          upon commencement of your selected tour, or used to redeem the ticket. There may be separate 
          instructions on your voucher under the Important Information-Notes field, please make sure 
          you read these in advance of the travel service.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwentySeven">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentySeven">27. I need directions to the departure / ticket exchange point.</button>
        </h2>
      </div>
      <div id="collapseTwentySeven" class="collapse" aria-labelledby="headingTwentySeven" data-parent="#myAccordion">
        <div class="card-body">
          <p>The meeting point for the beginning of every travel service can be found on the 
          service details page, under the heading Location. Extra information may also be 
          contained in the voucher. If you need directions to this point, please contact the 
          travel service provider 24-48 hours prior to the confirmed departure date on the numbers 
          listed at the bottom of the service voucher.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwentyEight">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyEight">28. I cannot access my voucher link</button>
        </h2>
      </div>
      <div id="collapseTwentyEight" class="collapse" aria-labelledby="headingTwentyEight" data-parent="#myAccordion">
        <div class="card-body">
          <p>If you cannot access the voucher from the link provided, firstly copy and paste the 
          link into a fresh browser page and try again, or forward the email with your voucher link 
          to another email address and try to print it through another browser. If this still does not
          work, please contact us with your booking details and we will send you a new voucher link.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwentyNine">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyNine">29. Does my client require any sort of photo identification? Some of the passengers (or children) do not have photo ID</button>
        </h2>
      </div>
      <div id="collapseTwentyNine" class="collapse" aria-labelledby="headingTwentyNine" data-parent="#myAccordion">
        <div class="card-body">
          <p>Yes, the travel provider who is providing the service requires valid photo ID such as 
          a passport, drivers license or any other form of identification displaying a current photo of 
          the lead traveller in the booking. This is required to protect your purchase. Not all passengers 
          require photo ID upon departure. The main passenger (lead traveler) in the booking will 
          definitely require a passport, or other valid photo ID, as identification in order to redeem 
          their activities voucher. Children do not require photo ID.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThirty">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirty">30. What happens if it rains, or if the travel service provider cancels on the day or the tour is not running due to unforeseen circumstances?</button>
        </h2>
      </div>
      <div id="collapseThirty" class="collapse" aria-labelledby="headingThirty" data-parent="#myAccordion">
        <div class="card-body">
          <p>Unless the weather directly affects the travel service you have booked, all travel 
          services will operate as scheduled. In the case where a travel service provider cancels a 
          tour on the day, please notify Bergin Tours Reservation Team via email, including 
          your tour details and Booking Reference number, and we will process monies due back to you 
          accordingly.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThirtyOne">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirtyOne">31. What do I do if I am delayed for the tour?</button>
        </h2>
      </div>
      <div id="collapseThirtyOne" class="collapse" aria-labelledby="headingThirtyOne" data-parent="#myAccordion">
        <div class="card-body">
          <p>Refer to the contact details listed on your voucher and contact the tour operator for 
          instructions. If it is after hours, contact Bergin Tours Reservation Team. There 
          is no guarantee that you will be able to join the tour on a later departure, as they may be 
          fully booked. Please allow sufficient time, whenever possible, to reach the departure point 
          in time for the tour. As per the Cancellation and Change Policy on the tour description page 
          of the travel service (where applicable) and on the reservation details page, many travel 
          services carry heavy cancellation penalties.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThirtyTwo">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirtyTwo">32. Is there a contact number at the destination for me to call?</button>
        </h2>
      </div>
      <div id="collapseThirtyTwo" class="collapse" aria-labelledby="headingThirtyTwo" data-parent="#myAccordion">
        <div class="card-body">
          <p>Yes. Once you have a confirmed booking, all the details of the travel service provider 
          are located on the service voucher at the bottom. You can call them directly for extra i
          nformation on the tour close to the departure date.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThirtyThree">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirtyThree">33. Id like a customized tour for individuals and/or group</button>
        </h2>
      </div>
      <div id="collapseThirtyThree" class="collapse" aria-labelledby="headingThirtyThree" data-parent="#myAccordion">
        <div class="card-body">
          <p>We offer a wide range of individual tours, events and attractions, and also 
          able to arrange customized tours. If you require something different to whats available 
          online in our product range, please contact us by sending Custom Design & Group Request 
          Form or via e-mail. We will work on the itinerary and come up with the perfect program for 
          you in 24 hours.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThirtyFour">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirtyFour">34. Do you cater for groups more than 8 people in one party and/or have a group discount program?</button>
        </h2>
      </div>
      <div id="collapseThirtyFour" class="collapse" aria-labelledby="headingThirtyFour" data-parent="#myAccordion">
        <div class="card-body">
          <p>We accept a maximum of 8 passengers per booking at one time as the travel services; 
          Bergin Tours offers are specialized for independent travelers and small groups. 
          If you have a group of travellers more than 8 pax, please feel free to contact us via e-mail 
          or Custom Design and Group Request Form we will be more than happy to provide special 
          discounts or private tours.</p>
        </div>
      </div>
    </div>

  </div>
</main>
