<main class="container">
  <h1 class="text-center mb-5 mt-4">Terms and Conditions</h1>
  <div>
    <h4 class="terms-title">Change In Our Terms and Conditions</h4>
    <p class="terms-p">Bergin Tours reserves the right to change and modify these terms and conditions at any time. 
      Changes will be effective as soon as they are published on the Bergin Tours website.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Names Of Persons Travelling</h4>
    <p class="terms-p">It is important that the person making the booking must enter the correct names of 
    all persons travelling. If TBA or another abbreviation has been entered as the guests name, 
    the provider may reject the booking. The names of all persons travelling must be entered and 
    the First name should be followed by the Family name.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Change In Our Terms and Conditions</h4>
    <p class="terms-p">Bergin Tours reserves the right to change and modify these terms and conditions at any time. 
      Changes will be effective as soon as they are published on the Bergin Tours website.
    </p>
  </div>

  <div>
    <h4 class="terms-title">E-mail Accounts</h4>
    <p class="terms-p">It is the responsibility of all Bergin Tours’s clients to ensure they have entered acorrect 
    e-mail address. If our e-mail has been sent to your Junk or Bulk mailfolder, you can prevent this 
    from happening again by opening our e-mail and clicking on the not spam or this is not spam button.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Room Types For Package Tours</h4>
    <p class="terms-p">It is the responsibility of the Client making the booking to ensure that the room type booked 
    will be suitable for the party traveling. If more persons turn up at the destination than the 
    provider can accommodate then the providers are within their rights not to accept the booking 
    and in this case no refund will be made. While Bergin Tours undertake to ensure that your requested 
    room type is available Bergin Tours cannot guarantee the actual bedding make-up of the room. 
    These requests are sent to the hotel and are subject to availability. Bergin Tours try to ensure 
    that the hotel provides the room type(s) booked, however there may be occasions when instead of 
    a double-bedded room a twin may be allocated or a double -bedded room instead of a twin. Please 
    be aware that the majority of European hotels provide 2 single beds pushed together to make a 
    Double bed. While all room type preferences are forwarded to the hotel, room all location is done 
    by the hotel and subject to availability at the time of check in.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Payment and Rates</h4>
    <p class="terms-p">Currency exchange rates generally change on daily basis depending on the fluctuations in the market. 
    Bergin Tours reserve the right to update service rates displayed on the website depending on any 
    market fluctuations. Any changes relating to currency exchange rate fluctuations will not affect 
    the rates of an already confirmed booking. Likewise, once a booking has been booked and confirmed 
    at the rates you have accepted, there is no refund for any difference in rates due to exchange rate 
    fluctuations. Rates include applicable taxes. Tourist/local/city taxes which generally include the 
    use of local services may not be included. These taxes need to be paid at the destination by the 
    clients.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Credit Card Statements</h4>
    <p class="terms-p">Our company name will appear as Bergin Tours on the credit card statement of the 
    credit card used to make the booking. Bergin Tours reserve the right to correct any pricing or 
    displayed errors and/or missions. This includes errors and/or missions which have been entered 
    by a local agent. In the event of a price error and/or mission, we will offer you the choice of 
    either keeping the booking at the correct rates, cancelling the booking or subject to availability 
    we will offer you a suitable alternate service.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Resort and International Transaction Fees</h4>
    <p class="terms-p">The majority of credit card providers charge some sort of an International Transaction fee. 
    This can be as much as 3% although Capital One not only doesnt impose its own fee, but it also 
    eats the 1% fee that Visa or MasterCard impose. This fee is passed on by certain credit card providers 
    because the charge for your booking has been processed outside of the country that you reside in. 
    Please note that the charge has not been passed on by Bergin Tours and that Bergin Tours cannot 
    be held responsible for any international transaction charges passed on by your or your clients 
    credit card issuer.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Additional Charges Made By The Hotel</h4>
    <p class="terms-p">Bergin Tours has no control over any extra charges that a hotel may decide to their 
    implement for guest room incidentals such as air conditioning, safe,mini fridge, hire of 
    television remote etc... Any such charges must be paid direct to the hotel and Bergin Tours 
    cannot be held responsible for any incidental charges passed on by the hotel. Likewise Bergin Tours 
    has no control over any fees that a hotel may pass on for luggage storage, sauna, spa and swimming 
    pool use, car parking fees etc. During the festive season, essentially Christmas and the NewYear, 
    there are hotels which impose a compulsory gala and guests must pay any supplement for the gala dinner. 
    Our company is not always informed about Gala dinner supplements and Bergin Tours cannot be held 
    responsible for any gala supplements passed on by the hotel.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Cancellation and Amendment</h4>
    <p class="terms-p">We prefer that all cancellations and amendments are made on the Bergin Tours website. 
    Alternatively you can contact the Bergin Tours Reservation Department via e-mail or fax before 
    the cancellation deadline forthat specific booking. We do not accept cancellations or amendments 
    over the telephone. Bergin Tours will not be bound by nor responsible for any changes and cancellations 
    made directly with the providers. It is important to note that only one amendment per booking 
    will be accepted. If you require further amendments, please cancel and rebook the service with new 
    details. Any more than one amendment is not permitted and the booking will have to be cancelled and 
    re-booked. New rates may be applicable. During special event periods, certain dates and early bird 
    type bookings, the provider may pass on a different cancellation policy of which you will be informed 
    as soon as Bergin Tours is notified. In certain cases, name changes are nor permitted and the booking 
    may need to be cancelled and re-booked. In this case new rates may apply.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Proof Of ID</h4>
    <p class="terms-p">To protect your Bergin Tours account - When a booking has been made by a 3rd party 
    Bergin Tours reserves the right to request proof of ID from the credit cardholder as 
    well as a signed authorisation form. This security measure is not to cause any inconvenience 
    but merely to protect the credit card holder against any credit card misuse.
    </p>
  </div>

  <div>
    <h4 class="terms-title">On Request Reservations</h4>
    <p class="terms-p">The services with "REQUEST" button and bookings with On Request Processing status means that 
    the service does not have any available allotment,however Bergin Tours will contact the provider 
    to request extra space. Kindly be informed that in very rare occasions, the availability at the 
    service might change until the time you complete your booking and the final status might turn to 
    On Request Processing. In these cases, please do not attempt to book the same hotel again. 
    You will be informed within 24 hours if your booking has been confirmed or rejected. 
    If the service could be confirmed at a different rate, you will be advised. Please bear 
    in mind that the confirmation may not be guaranteed and the providers have the right to 
    reject ON REQUEST bookings.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Complaints</h4>
    <p class="terms-p">Any complaint which cannot be resolved at the destination must be notified to us by 
    logging into your Bergin Tours system and selecting the message category Complaint. 
    All complaints must be notified to us within 7 days of the check out date. A copy of 
    the complaint must be also be submitted to and signed by the local providers manager. 
    Complaints relating to hotel services will be forwarded by Bergin Tours to the relevant party. 
    Response times do vary from between 5-20 working days depending upon the nature of the query in question.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Visa Support</h4>
    <p class="terms-p">Bergin Tours will not be obliged to request any visa documents from the provider for 
    any bookings which have not been paid for in full. Bergin Tours will do the best to accomodate 
    your request but it is not guaranteed that the provider will respond to your visa document request. 
    In the event that a provider implements charges for visa support documents, 
    Bergin Tours expects that the client will make the relevant payment.
    </p>
  </div>

  <div>
    <h4 class="terms-title">General Terms and Conditions</h4>
    <p class="terms-p">Telephone calls to Bergin Tours may be recorded to enable us to monitor and improve our services. 
    Bergin Tours shall not be liable for any failure in service relating from uncontrollable 
    circumstances such as flood, earthquake, riot, terrorist acts, acts of governments or authority 
    change in a country, bad weather conditions etc.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Transfers, Daily Tours, Package Tours, Shore Excursions, Activities</h4>
    <p class="terms-p">The terms and conditions of each product is shown at the details section of the relevant service. 
    We highly recommend you to read the conditions section before you book.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Travel Insurance</h4>
    <p class="terms-p">We highly recommend you to buy travel insurance to cover your loss incase of any 
    cancellation done within deadline which will occur with no-show as there will not be any 
    refund will be provided by Bergin Tours If you have an insurance policy and if the amount you 
    have paid is within no-show rules, please contact us to get letter for your insurance company 
    to get your refund from insurance.
    </p>
  </div>

  <div>
    <h4 class="terms-title">Important</h4>
    <p class="terms-p">When the clients has completed the booking online, they must check and make sure all the details 
    on the pre paid service voucher are correct. Use of the turkeytourscompany.com website is subject 
    to your acceptance of our terms and conditions. If you do not accept these Terms and Conditions, 
    you must refrain from using the website.
    </p>
  </div>

  <div>
    <h4 class="terms-title">I Accept</h4>
    <p class="terms-p">If you do not fully understand or do not accept these terms & conditions, please do not 
    "Accept" but contact us for clarification.
    </p>
  </div>
</main>
