.banner {
  height: 72vh;
  background-image: url("https://images.pexels.com/photos/3889704/pexels-photo-3889704.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// tour show page image style

.card-img-top {
  max-height: 500px;
  max-width: 650px;
}
