// tour show page image style
.card-img-top {
  max-height: 500px;
  max-width: 650px;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}

// span {
//   .carousel-control-prev,
//   .carousel-control-next {
//     opacity: 1 !important;
//   }
// }
@media only screen and (min-width: 768px) {
  /* styles for browsers larger than 768px; */
  .img-lg {
    display: block;
  }
  .img-sm {
    display: none;
  }
}

@media only screen and (max-width: 769px) {
  /* styles for browsers smaller than 768px; */
  .img-lg {
    display: none;
  }
  .img-sm {
    display: block;
  }
}
