// tour show page image style
.card-img-top {
  max-height: 500px;
  max-width: 650px;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}

// span {
//   .carousel-control-prev,
//   .carousel-control-next {
//     opacity: 1 !important;
//   }
// }
