/* Icon Style */
.icon {
  position: relative;
  right: -1em;
  vertical-align: middle;
}

.fa-clock,
.fa-running,
.fa-user-friends {
  padding: 0.3rem;
  font-size: 1rem;
}

.trusted-by {
  .trusted-text {
    opacity: 0.7;
  }
  .fa-cc-paypal,
  .fa-tripadvisor,
  .fa-cc-stripe,
  .fa-google-pay,
  .fa-mailchimp {
    font-size: 5.5em;
    color: black;
    opacity: 0.5;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// <div class="container">
// <div class="row">
//   <% @tours[5..6].each do |tour| %>
//     <div class="card col-lg-5 px-0 py-0">
//       <div class="tour-card">
//         <%= cl_image_tag tour.photos[0].key, class: "card-img-hot", alt: "#{tour.title} Picture"  %>
//         <h6 class="guided"><%= tour.tag_text %></h6>
//         <h2> <%= link_to tour.title, tour_path(tour) %></h2>
//         <h5><%= tour.description %></h5>
//         <div class="d-flex justify-content-between">
//           <div class="icon">
//             <i class="far fa-clock"> <span><strong><%= tour.duration %></strong> </span></i><br>
//             <i class="fas fa-running"> <span><strong>Skip the line</strong></span></i><br>
//             <i class="fas fa-user-friends"> <span><strong><%= tour.group_size %></strong></span></i>
//           </div>
//           <div class="prices mr-4 mt-3">
//             <button class="btn btn-warning btn-lg">Save 190$</button>
//           </div>
//         </div>
//       </div>
//     </div>
//   <% end %>
// </div>
// </div>
