.profile-container {
  ul {
    li {
      list-style: none;
      font-size: 1.1em;
      font-weight: bolder;
    }
  }
}

.fa-instagram,
.fa-tripadvisor {
  font-size: 1.8em;
}

.fa-tripadvisor {
  color: $trip-advsior;
}
.fa-instagram {
  color: $instagram;
}

.first-nav {
  background-color: $white;
}

.dropdown-menu {
  min-width: 16rem !important;
}

.navigation {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  a {
    color: white;
    font-weight: bold;
  }
}
