nav {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  ul {
    display: flex;
    color: $nav-link-color;
    text-decoration: none;
    list-style: none;
  }
  li {
    margin-right: 1em;
  }

  a {
    color: $white;
    font-size: 1.1em;
    &:hover {
      text-decoration: none;
      color: $nav-link-color;
      border-bottom: 4px solid $nav-link-color;
    }
  }
}
