.profile-container {
  ul {
    li {
      list-style: none;
      font-size: 1.1em;
      font-weight: bolder;
    }
  }
}
.navbar-toggler-icon {
  background-color: $orange;
}

.fa-instagram,
.fa-tripadvisor {
  font-size: 1.8em;
}

.fa-tripadvisor {
  color: $trip-advsior;
}
.fa-instagram {
  color: $instagram;
}

.btn-signup {
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }

  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: $orange;
  &:hover {
    background-color: tomato;
  }
}

.nav-scroll {
  transition: 0.3s ease-in-out;
}

.nav-active {
  background-color: $nav-link-color;
  box-shadow: 5px -1px 12px -5px $light-gray;
}

@media (max-width: 992px) {
  .nav-scroll {
    background-color: $nav-link-color;
  }
}

.nav-bar-blue {
  background-color: $nav-link-color !important;
}

.logo-container {
  font-weight: 700;
  text-shadow: 0.5px 0.5px 0px $green, 1px 1px 0px $green, 1.5px 1.5px 0px $blue,
    2px 2px 0px $blue, 2.5px 2.5px 0px $yellow, 3px 3px 0px $yellow,
    3.5px 3.5px 0px $orange, 4px 4px 0px $orange, 4.5px 4.5px 0px $orange;
  .navbar-brand {
    font-size: 2em;
  }
}

.size-shopping {
  font-size: 0.8em;
  position: relative;
  top: -8px;
}
