.btn-taggable {
  width: max-content;
  border: 1px solid $nav-link-color;
  border-radius: 5px;
  margin-right: 5px;
  padding: 8px 20px;
  margin-bottom: 4px;
  color: $nav-link-color;
  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $nav-link-color;
  }
}

.article-btn {
  &:hover {
    background-color: $orange !important;
  }
}

.active-tag {
  color: $white;
  background-color: $nav-link-color;
}
